[submodule "backend-app-coffee-detect"]
	path = backend-app-coffee-detect
	url = https://github.com/MuhammadJundullah/backend-app-coffee-detect

[submodule "frontend-app-coffee-detect"]
	path = frontend-app-coffee-detect
	url = https://github.com/MuhammadJundullah/frontend-app-coffee-detect
